/*colocamos el color por defecto a los enlaces*/
/*es ideal ordenar los estilos alfabeticamente*/
a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}
header
{
	background: #343B54;
	color: white;
}
